<template>
  <div id="app">
    <LoaderComp />
    <NotificationComp />
    <PosterBG :poster="posterBG" />
    <HeaderComp />
    <MoviesList :list="moviesList" @changePoster="onChangePoster" />
    <MoviesPagination
      :current-page="currentPage"
      :per-page="moviesPerPage"
      :total="moviesLength"
      @pageChanged="onPageChanged"
    />
  </div>
</template>

<script>
import MoviesList from "@/components/MoviesList";
import { mapGetters, mapActions } from "vuex";
import PosterBG from "@/components/PosterBG";
import MoviesPagination from "@/components/MoviesPagination";
import LoaderComp from "@/components/LoaderComp";
import HeaderComp from "@/components/HeaderComp";
import NotificationComp from "@/components/NotificationComp";

export default {
  name: "App",
  components: {
    PosterBG,
    MoviesList,
    MoviesPagination,
    LoaderComp,
    HeaderComp,
    NotificationComp,
  },
  data: () => ({
    posterBG: "",
  }),
  computed: {
    ...mapGetters("movies", [
      "moviesList",
      "currentPage",
      "moviesPerPage",
      "moviesLength",
    ]),
  },
  watch: {
    "$route.query": {
      handler: "onPageQueryChange",
      immediate: true,
      deep: true,
    },
  },
  methods: {
    ...mapActions("movies", ["changeCurrentPage"]),
    onPageQueryChange({ page = 1 }) {
      this.changeCurrentPage(Number(page));
    },
    onChangePoster(poster) {
      this.posterBG = poster;
    },
    onPageChanged(page) {
      this.$router.push({ query: { page } });
    },
  },
};
</script>

<style>
#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
</style>
